<div class="container">
    <div *ngIf="!new">
        <div class="loader-main" *ngIf="loadingNew">
            <div class="loader"></div>
            <span style="margin: 10px; font-size: 18px">Loading post details...</span>
        </div>
        <div *ngIf="errorNew">
            {{errorNew}}
        </div>
    </div>
    <form *ngIf="new || (!new && !loadingNew && !errorNew)">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          [(ngModel)]="postData.title"
          type="text"
          autocomplete="off"
          class="form-control"
          id="title"
          name="title"
          aria-describedby="titleHelp"
          placeholder="Enter title">
        <small id="titleHelp" class="form-text text-muted">Title of the artice.</small>
      </div>
      <div class="form-group">
        <label for="image">Display image</label>
        <input
          (change)="onFileChange($event)"
          type="file" accept="image/*"
          class="form-control-file"
          id="image"
          aria-describedby="imageHelp" placeholder="Image">
        <small id="imageHelp" class="form-text text-muted">
          Display image for the article. {{new?'': 'Uploading a new file will override the previously uploaded image, leave it empty to keep the image unchanged.'}}
        </small>
        <div *ngIf="!new && postData.image" style="margin-top: 20px">
          <h6>Previously uploaded image:</h6>
          <img style="margin-top: 5px" height="100" width="auto" [src]="postData.image"/>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          [(ngModel)]="postData.description"
          type="text"
          class="form-control"
          id="description"
          name="description"
          aria-describedby="descriptionHelp"
          placeholder="Enter description"
          rows="5"></textarea>
        <small id="descriptionHelp" class="form-text text-muted">Description of the artice.</small>
      </div>
      <div class="form-group">
        <label for="date">Publish date</label>
        <input type="date" [(ngModel)]="postData.date" class="form-control" id="date" name="date"
          aria-describedby="publishDateHelp" placeholder="Publish date">
        <small id="publishDateHelp" class="form-text text-muted">Publish date of the article.</small>
      </div>
      <div style="display: flex">
        <button
          type="submit" class="btn btn-primary"
          [disabled]="loading" (click)="onSubmit()"
          style="margin-right: 30px">
          Submit
        </button>
        <div class="loader-main" *ngIf="loading">
            <div class="loader"></div>
            <span style="margin: 10px; font-size: 18px">Creating post...</span>
        </div>
        <div *ngIf="error">
          {{error}}
        </div>
      </div>
    </form>
</div>
