.app-header {
  background: white;
  /* text-align: center; */
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
}

.app-header {
  margin: 0;
  padding: 15px 10px;
}

.app-header > .branding {
  align-items: center;
  padding: 0 20px;
}

.app-header .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 12px;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  background: #ff6666;
}

.branding {
  cursor: pointer;
  outline: none;
}

.branding > h5 {
  margin-left: 10px;
}

.app-header .create-btn {
  margin-right: 20px;
  outline: none;
}
