<div class="post-card" (click)="openPost()">
  <div style="position: relative;">
    <img [src]="post.image" height="130px" width="100%" style="object-fit: none; object-position: center;"/>
    <div class="backdrop"></div>
    <h5 class="post-title">{{post.title}}</h5>
    <p class="post-date">{{post.date}}</p>
    <div style="position: absolute; top: 0; right: 0; margin: 10px;" (click)="editPost($event)">
        <div class="post-action-button"><i class="fa fa-pencil" style="font-size: 18px;"></i></div>
    </div>
  </div>
  <div class="description">
      {{post.description}}
  </div>
</div>
